<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!--Links-->
    <%- include("partials/links")%>
</head>
<body>
    <div class="container">
        <%- include('partials/navbar-bars')%>
        <header class="title">
            <a href="https://github.com/Nasadmi" target="_blank">
                <h1>Nasadmi ApicationWeb
                    <div class="separator"></div>
                    NodeJs Project
                </h1>
            </a>
        </header>
        <div class="image">
            <img src="img/11zon_cropped.png" alt=":(">
        </div>
    </div>
</body>
</html>
