<div class="navigation">
    <nav>
        <ul class="nav-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/other">Your Ejs</a>
            </li>
        </ul>
        <ul class="nav-menu-right">
            <li>
                <a href="#"><i class="fas fa-search see"></i></a>
            </li>
        </ul>
    </nav>
</div>